body{color:#222;-webkit-text-size-adjust:none;}
		body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl, dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,iframe{margin:0; padding:0;}
		h1,h2,h3,h4,h5,h6{font-size:100%;}
		body,button,input,select,textarea {font-family:微软雅黑,Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”,sans-self;font-size:62.5%; line-height:1.5;}
		ol,ul{list-style:none;}
		
		html,body{ width:100%; height:100%; overflow:hidden;}
		.section-wrap{ width:100%;height:100%;overflow:visible;transition:transform 1s cubic-bezier(0.86,0,0.03,1);-webkit-transition:-webkit-transform 1s cubic-bezier(0.86,0,0.03,1);}
		.section-wrap .section{ position:relative; width:100%; height:100%; background-position:center center; background-repeat:no-repeat;}
		.section-wrap .section .title{width:100%;position:absolute;top:10%;color:#fff;font-size:2.4em;text-align:center;}
		.section-wrap .section-1{ background-color:#72afd5}
		.section-wrap .section-2{ background-color:#22c3aa}
		.section-wrap .section-3{ background-color:#eab97f}
		.section-wrap .section-4{ background-color:#7fd1d4}
		.section-wrap .section-5{ background-color:#22c3aa}
		.put-section-0{ transform:translateY(0);-webkit-transform:translateY(0);}
		.put-section-1{ transform:translateY(-100%);-webkit-transform:translateY(-100%);}
		.put-section-2{ transform:translateY(-200%);-webkit-transform:translateY(-200%);}
		.put-section-3{ transform:translateY(-300%);-webkit-transform:translateY(-300%);}
		.put-section-4{ transform:translateY(-400%);-webkit-transform:translateY(-400%);}
		.section-btn{ width:14px;position:fixed;right:4%;top:50%;}
		.section-btn li{ width:14px;height:14px;cursor:pointer;text-indent:-9999px;border-radius:50%;-webkit-border-radius:50%;margin-bottom:12px; background:#BD362F;text-align:center; color:#fff;}
		.section-btn li.on{ background:#fff}
		.section-btn1{ width:60px;position:absolute;right:5.5%;top:49%; text-align:right;}
		.section-btn1 li{line-height:26px; font-size:12px; color:#fff; opacity:0; transition:all 1s;}
		.section-btn1 li:hover{opacity:1; transition:all 1s;}
		.section-btn1 li.on1{opacity:1; transition:all 1s;}

/*第一页*/
.section{
	text-align:center;
	vertical-align: middle;
}

.section-1 #photo{
	background:#fff;
	border: 10px solid #8abfed;
    border-radius: 50%;
    height: 160px;
    width: 160px;
	margin:0 auto;
	animation-duration:3s;
	margin-top:23px;
}	
.list1{
	font-size:14px;
	margin-top:11px;
}
#s1a{
	font-size:2em;
	font-weight:bold;
	margin-top:18px;
	animation-duration:1.5s;
	animation-delay:1.0s;
	text-shadow: 1px 2px #3f89bd, 2px 4px #a1cdec;
}
#s1b{
	font-size:18px;
	font-weight:bold;
	margin:16px 0 5px 0;
	animation-delay:1.7s;
}
#s1c{
	color:#174f72;
	animation-delay:2.6s;
}
#s1d{
	color:#174f72;
	animation-delay:3.0s;
}
#s1e{
	color:#174f72;
	animation-delay:3.4s;
}

/*第二页*/
#s2a{
	font-size:2.25em;
	font-weight:bold;
	margin:58px 0 32px 0;
	animation-duration:1.3s;
	animation-delay:1.0s;
	text-shadow: 1px 2px #22c3aa, 2px 4px #aee2d9;
}
.list2{
	font-size:16px;
	margin-top:6px;
}
.sTitle{
	font-size:20px;
	font-weight:bold;
	margin:14px 0;
}

.s2b{
	animation-delay:2s;
}
.s2c{
	animation-delay:2.3s;
}
.s2d{
	animation-delay:2.6s;
}

/*第三页*/
#s3a{
	font-size:2.25em;
	font-weight:bold;
	margin:35px 0 15px 0;
	animation-duration:1.3s;
	animation-delay:1.0s;
	text-shadow: 1px 2px #cb832f, 2px 4px #f1c99a;
}
#s3b{
	line-height:28px;
	animation-delay:1.7s;
}
#skill{
	width:760px; height:260px;
	margin:30px auto;
	animation-delay:2.2s;
}
.skill_icon{
	width:120px; height:100px;
	float:left;
	margin-left:100px;
}
.skill_icon img{
	margin:20px auto;
	transform: scale(1);
    transition: transform 0.25s ease 0s;
}
.skill_icon img:hover{
	transform:scale(1.2);
}
.skill_icon p{
	font-size:18px;
	font-weight:bold;
}
.skill_icon .skill_flag{
	background: rgba(0, 0, 0, 0) url("images/skill_flag1.png") repeat scroll 0 0;
    height: 20px;
    margin: 20px auto;
    width: 20px;
}
/*第四页*/
#s4a{
	font-size:2.25em;
	font-weight:bold;
	margin:35px 0 15px 0;
	animation-duration:1.3s;
	animation-delay:1.0s;
	text-shadow: 1px 2px #2e9194, 2px 4px #aaedef;
}
#works{
	margin:42px auto 0;
	width:850px;
	height:200px;
	border-bottom:1px solid #fff;
}
.work{
	width:220px;
	height:170px;
	float:left;
	margin-left:95px;
	box-shadow:2px 2px 8px #258083;
	cursor:pointer;
	color:#fff;
	text-decoration:underline;
}
#s4b{
	background:#beedef url(images/icon1.png) no-repeat center center;
	animation-delay:1.5s;
	
}
#s4c{
	background:#beedef url(images/icon2.png) no-repeat center center;
	animation-delay:1.9s;
	
}
#s4d{
	background:#beedef url(images/icon3.png) no-repeat center center;
	animation-delay:2.4s;
}
#s4e{
	margin-top:25px;
	font-weight:bold;
	font-size:14px;
	color:#1c7477;
	animation-delay:2.7s;
}
.night{
	color:#fff;
	line-height:160px;
	font-size:18px;
	width:100%;
	height:100%;
	background:#000;
	opacity:0;
	transition:all 0.7s cubic-bezier(0.86,0,0.8,1);-webkit-transition:all 0.7s cubic-bezier(0.86,0,0.8,1);
}
.night:hover{
	opacity:0.6;
	transition:all 0.5s cubic-bezier(0.86,0,0.8,1);-webkit-transition:all 0.5s cubic-bezier(0.86,0,0.8,1);
}

/*第五页*/
#s5a{
	font-size:2.25em;
	font-weight:bold;
	margin:48px 0 15px 0;
	animation-duration:1.3s;
	animation-delay:1.0s;
	text-shadow: 1px 2px #22c3aa, 2px 4px #aee2d9;
}
.section-5 .sTitle{
	font-size:24px;
	margin-bottom:8px;
}
#colorful{
	width:700px;
	margin:0 auto;
}
#colorful span{
	font-size:28px;
}
#s5b{
	margin-top:30px;
	animation-delay:1.7s;
}
#s5c{
	color:#d03ca8;
	animation-delay:2.2s;
}
#s5d{
	color:#2b4fd5;
	animation-delay:2.4s;
}
#s5e{
	color:#fff49b;
	animation-delay:2.6s;
}
#s5f{
	color:#0f702d;
	animation-delay:2.8s;
}
#s5g{
	margin-top:56px;
	font-size:16px; 
	font-weight:normal;
	line-height:30px;
	animation-delay:3.1s;
}